In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is a systematic or organized collection of related information that is stored in such a way that it can be easily 
    accessed, retrieved, managed, and updated.
    SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems.

    SQL databases:
        
    1.RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).
    2.These databases have fixed or static or predefined schema.
    3.These databases are not suited for hierarchical data storage.
    4.Vertically Scalable.
    
    NoSQL databases:
        
    1.Non-relational or distributed database system.
    2.They have a dynamic schema
    3.These databases are best suited for hierarchical data storage.
    4.Horizontally scalable

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans: Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands
to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1.CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

In [ ]:
# Example: We need to create a table for storing Student information of a particular College. Create syntax would be as below.
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

In [ ]:
2.ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, 
delete or modify tasks easily.

In [ ]:
Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

In [ ]:
3.TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. 
The command they can use is as follows.

TRUNCATE TABLE Student_info;

In [ ]:
4.DROP :
This command is used to remove an existing table along with its structure from the Database.

Example –
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans: DML:Data Manipulation Language(DML) is used to manipulate data present in the database.

The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:

1.The INSERT statement introduces new rows into an existing table.

example: INSERT INTO Employees (ID, Name, Salary)
         VALUES (1, 'John Doe', 5000);
         This statement inserts a new row into the "Employees" table with the specified values for the "ID", "Name", and "Salary" columns.

2.The DELETE statement removes a row or combination of rows from a table.

Example: DELETE FROM Employees
         WHERE ID = 1;
         This statement deletes the row(s) from the "Employees" table where the "ID" column value is 1.

3.UPDATE statement: The UPDATE statement allows you to modify the values of one or more columns in existing rows of a table. 
It enables you to update data based on specified conditions.

Here's an example:
        UPDATE Employees
        SET Salary = 6000
        WHERE ID = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans: DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and manipulate data from a database. 
     DQL primarily consists of the SELECT statement, which is used to query and retrieve data from one or more database tables.

The SELECT statement allows to specify the columns we want to retrieve and apply filtering conditions to retrieve specific rows.
 Example:
        SELECT column1, column2, ...
        FROM table_name
        WHERE condition;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans: Primary Key:
     A primary key is a column or a combination of columns that uniquely identifies each row or record in a table. It ensures that each
    row in a table has a unique identifier, and no two rows can have the same primary key value. The primary key provides a way to uniquely
    identify and access individual records in a table.
    
    Foreign Key:
    A foreign key is a column or a set of columns in a table that establishes a link or reference to the primary key of another table. 
    It creates a relationship between two tables, known as the parent table (with the primary key) and the child table (with the foreign key). 
    The foreign key represents a column in the child table that refers to the primary key in the parent table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing the connection
cnx = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = cnx.cursor()

# Executing a query
query = "SELECT * FROM Employees"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()

# Displaying the results
for row in results:
    print(row)

# Closing the cursor and the connection
cursor.close()
cnx.close()

In [ ]:
cursor() method:
The cursor() method is used to create a cursor object. A cursor is responsible for executing SQL statements and fetching results from the database. 
It acts as a handle or pointer to the result set.

execute() method:
The execute() method is used to execute SQL statements or queries. It takes the SQL statement as a parameter and sends it to the MySQL database 
for execution. The statement can be a DDL (Data Definition Language) or DML (Data Manipulation Language) statement.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans: The order of execution of sql